
/* Smartphones iPhone 4  any small screen*/

@media  (min-width: 0px) and (max-width: 320px)  
{
    
    .width-mediaq{
        width: 90% !important;
        padding: 20px;
        margin-top:50px !important;
       }

       #welcome{
        width: 90%;
       }

       .padding-sm{
        padding:15px 20px !important ;
       }
    

       .p-font{
        font-size: 10px;
       }

       .eye-pass{
        position: absolute;
        right: 13%;
        top: 58%;
    
    }

    .eye-pass1{
        position: absolute;
        right: 11%;
        top: 47%;
    
    }
}


@media  (min-width: 321px)and (max-width: 480px) 
{
   
    
    .width-mediaq{
        width: 90% !important;
        padding: 30px;
        margin-top: 100px !important;
       }

       #welcome{
        width: 90%;
       }

       .p-font{
        font-size: 10px;
       }

       .eye-pass{
        position: absolute;
        right: 14%;
        top: 56.5%;
    
    }

    .eye-pass1{
        position: absolute;
        right: 13%;
        top: 48%;
    
    }

    
}


@media  (min-width: 481px) and (max-width: 640px)   
    
{
   .width-mediaq{
    width: 90% !important;
    padding: 50px;
   }

   #welcome{
    width: 80%;
   }

   .p-font{
    font-size: 13px;
   }

   .eye-pass{
    position: absolute;
    right: 13%;
    top: 56.5%;

}
.eye-pass1{
    position: absolute;
    right: 13%;
    top: 48.5%;

}
    
}
 

@media  (min-width: 641px) and (max-width: 800px)   
    
{
    
    .width-mediaq{
        width: 70% !important;
       }

       #welcome{
        width: 70%;
       }


       .p-font{
        font-size: 13px;
       }
        
       .eye-pass{
        position: absolute;
        right: 13%;
        top: 57%;
    
    }
    .eye-pass1{
        position: absolute;
        right: 13%;
        top: 49%;
    
    }
    
    
}


@media  (min-width: 801px) and (max-width: 1024px)  
{

    .width-mediaq{
        width: 70% !important;
       }

       #welcome{
        width: 60%;
       }

       .eye-pass{
        position: absolute;
        right: 11%;
        top: 57.5%;
    
    }
    .eye-pass1{
        position: absolute;
        right: 9%;
        top: 50%;
    
    }

    
    
}

/* Desktops and laptops  small screne]----------- */
@media  (min-width: 1025px) and (max-width: 1280px) 
{
    
    .eye-pass{
        position: absolute;
        right: 12%;
        top: 58%;
    
    }

    .eye-pass1{
        position: absolute;
        right: 11%;
        top: 50%;
    
    }

    
}
 
/* Desktops and laptops ----------- */

@media  (min-width: 1281px) and (max-width: 1800px) 
    
{
    
    .eye-pass{
        position: absolute;
        right: 9%;
        top: 58%;
    
    }
    .eye-pass1{
        position: absolute;
        right: 9%;
        top: 50%;
    
    }
    
  
}

@media (min-device-width:1801px)and (max-device-width: 2200px){
    
    

    
}


















